<h1>Contact Us</h1>
<p>Please feel free to reach out and contact us (but be forewarned we&rsquo;re completely imaginary, so unfortunately we can&rsquo;t respond):</p>

<ul>
	<li><strong>Email:</strong> foo@bar.com</li>
</ul>