<div class="row">
  <div class="col-xs-12">
    <h1>Welcome to<br /><span class="brand">BICYCLE BERLIN</span></h1>

    <h2>Featured Product</h2>

    <%= image_tag("unsplash-chris-barbalis.jpg", class: "img-responsive center", alt: "A women's ivory-colored city bike, with 'La Baddla' painted on the downtube") %>

    <h2>Your source for used bikes in Berlin</h2>

    <p>Williamsburg vexillologist gluten-free, asymmetrical tousled poke raw denim four loko polaroid twee church-key enamel pin activated charcoal semiotics retro. Street art vape bushwick, keytar hella locavore pok pok narwhal disrupt pickled tote bag aesthetic. Prism quinoa photo booth organic, scenester venmo tousled cliche listicle tacos. Master cleanse kitsch twee, selvage vice bushwick literally. Godard food truck chillwave, 90's mustache mlkshk taxidermy PBR&B schlitz cred XOXO. Authentic pug letterpress mumblecore actually, salvia succulents woke literally biodiesel selvage. Pabst aesthetic unicorn cold-pressed.</p>

    <p class="p-link">Take a look at our <%= link_to "current inventory", products_path %> now!</p>
  </div>
</div>
