<div class="row">
  <div class="col-xs-12">
    <h1>Welcome to<br /><span class="brand">BICYCLE BERLIN</span></h1>

    <h2>Featured Product</h2>

    <%= image_tag("unsplash-chris-barbalis.jpg", class: "img-responsive center", alt: "A women's ivory-colored city bike, with 'La Baddla' painted on the downtube") %>

    <h2>Your source for used bikes in Berlin</h2>

    <p class="p-link">Take a look at our <%= link_to "current inventory", products_path %> now!</p>
  </div>
</div>
