<h1>Welcome to Bike Berlin</h1>

<%= image_tag("unsplash-chris-barbalis.jpg", class: "img-responsive", alt: "A women's ivory-colored city bike, with 'La Baddla' painted on the downtube") %>

<h2>Your source for used bikes in Berlin</h2>