// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
	text-align: center;
	font-size: 2em;
}

.nav-ctl {
	margin-bottom: 1em;
}

.edit {
	float: right;
}

.hi-low {
	padding: 10px 20px 10px 20px;
	margin-top: 1em;
}

.create {
	text-align: right;
}

.links {
	text-align: center;
}