// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
  font-size: 2em;
}

.nav-ctl {
  margin-bottom: 1em;
}

.destroy {
  color: red;
}

.edit {
  float: right;
}

.results {
  margin: 0 auto;
  max-height: 200px;
}

.highlight {
  padding: 2em;
}

.highlight:nth-child(even) {
  background-color: #f1f1f1;
}

.hi-low {
  padding: 10px 20px;
  margin-top: 1em;
}

.add-review {
  background-color: #f1f1f1;
  border: 1px solid #000;
  margin: 2em 0;
  padding: 2em;
}

.add-review h4 {
  margin-bottom: 2em;
  text-align: center;
}

.submit {
  float: right;
}

.subarea {
  bottom: 0;
  right: 0;
  position: absolute;
}

#comment-area {
  height: 150px;
  width: 100%;
}

p.comment-body {
  margin-left: 0;
  margin-top: 1em;
}

.create {
  text-align: right;
}

.links {
  text-align: center;
}

table h2 {
  text-align: left;
}

.apple_pagination {
  background: white;
  border-top: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: none; }