<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div class="container">
  <div class="row">
    <%= render @products %>
  </div><!-- /row -->
</div><!-- /container -->

<br>

<div class="create">
  <%= link_to 'New Product', new_product_path %>
</div>
